/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-image-overlay {
	.image-overlay__content {
		padding: 1.5rem;
	}
}

.c-two-page__container {
	gap: 0;

	image-overlay {
		block-size: 100%;
	}

	&.alignfull {
		> .c-two-page__page {
			padding: 0;
		}
	}
}
